body{
    background-color:rgb(101, 103, 131);
    display: grid;
    width: 80%;
    margin: auto;
}

.page{
    align-items: center;
}
.menu{
    text-align: center;
    font: 1.3em bold;
    border:4px solid white;
    padding: 4px;
    color: white;
    border-radius: 10%;
}

#Weather{
    text-align: center;
    color: white;
    border: 5px solid #ffffff;
    margin-top: 1%;
    border-radius: 10%;
}

.villes{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
   
}
 .villes img {
    width: 60px;
    height:60px;
    padding: 4%;
    align-items: center;
    
}
.wearth_style{
    display: flex;
    justify-content: center;
    
}
.wearth_style h2,p{
    margin:0;
    padding: 12px;
    
}


.city{
    width: 43%;
    min-width: 250px;
    display:grid; 
    border: 4px solid #ffffff;
    background-color: rgb(205, 221, 245);
    margin: 0.8em;
    text-align: center;
    border-radius: 10%;
}
@media screen and (max-width:720px){
    .city{
        width:350px;
    }
}
@media screen and (min-width:1300px){
    .city {
        width:30%;
    }
}



.city h2{
    margin-top: 0px;
    background-color: rgb(235, 234, 223);
    border-radius: 18%;
}
footer{
    text-align: center;
    color: white;
    border: 4px solid white;
    margin-top: 0.4em;
    border-radius: 10%;
}


